header {
  $height: 200px;
  height: $height;
  position: relative;
  width: 100%;

  .logo-holder {
    height: $height;

    position: absolute;
    z-index: 100;
    text-align: center;
    width: 100%;

    img {
      max-height: 135px;
      left: 0;
      right: 0;
      margin: auto;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      transition: .34s max-height;

      &:hover {
        max-height: 145px;
      }
    }
  }

  .video-holder {
    max-height: $height;
    overflow: hidden;
    position: absolute;
    width: 100%;

    video {
      object-fit: cover;
      transform: translateY(-25%);
      width: 100%;
    }
  }
}
